{{#each exercises as |exercise|}}


   <li> </li>
    <ul>Name: {{exercise.name}}</ul>
    <ul>Weight: {{exercise.weight}}</ul>
    <ul>Last Updated: {{exercise.updated_at}}</ul>



   <ul><button type="button" name="edit-button">Edit</button>
    <button type="button" name="remove-button">Remove</button></ul>


{{/each}}


<!-- <ul>Drive time: {{beach.drive_time}}</ul>
<ul>Entry ID: {{beach.id}}</ul> -->
