{{#each exercises as |exercise|}}
<tr>

 <td><p>{{exercise.name}}</p></td>
 <td><p>{{exercise.weight}}</p></td>
 <td><p> {{exercise.updated_at}}</p></td>


<td>
  <!-- update exercise weight button -->
  <button data-id="{{exercise.id}}" type="button" id="updateWeightButton" class="btn-default updateWeightHandlebarsButton" data-toggle="modal" data-target="#updateWeightModal"><i data-id="{{exercise.id}}" class="fa fa-pencil" aria-hidden="true"></i> </button>
  <!-- remove exercise button -->
  <button data-id="{{exercise.id}}" type="button" class="deleteButton btn-default"><i data-id="{{exercise.id}}" class="fa fa-trash" aria-hidden="true"></i></button>


</td>
</tr>


{{/each}}
