{{#each exercises as |exercise|}}

<li> </li>
 <ul>Name: {{exercise.name}}</ul>
 <ul>Weight: {{exercise.weight}}</ul>
 <ul>Last Updated: {{exercise.updated_at}}</ul>
 <ul>id: {{exercise.id}}</ul>




<ul>
  <!-- update exercise weight button -->
  <button type="button" id="updateWeightButton" class="btn btn-primary btn-lg modalb" data-toggle="modal" data-target="#updateWeightModal">Update Weight</button>
  <!-- remove exercise button -->
  <button type="button" id="deleteButton" class="btn btn-primary btn-lg modalb" data-toggle="modal" data-target="#removeExerciseModal"> Remove Exercise</button>
</ul>


{{/each}}


   <!-- <div class="col col-md-3 grid" data-Exercise-id={{Exercise.id}} data-Exercise-name={{Exercise.name}} data-Exercise-weight={{Exercise.weight}} data-Exercise-cap={{Exercise.update_at}}>
     <h3> {{Exercise.name}} {{Exercise.weight}}</h3>
     <p> {{Exercise.update_at}}</p> -->
     <!-- <button type="button" class="btn btn-primary editExerciseBtn">Edit Exercise</button>
     <button type="button" class="btn btn-danger deleteExerciseBtn">Delete Exercise</button>
   </div> -->
